<script lang="ts">
  import type { Hst as Histoire } from "@histoire/plugin-svelte";
  import { Comments } from "$components";

  export let Hst: Histoire;
</script>

<Hst.Story title="Components/Comments">
  <Comments />
</Hst.Story>
