<script lang="ts">
  import type { Hst as Histoire } from "@histoire/plugin-svelte";
  import { Tabs, TabList, TabPanel, Tab } from "$components";
  import { faker } from "@faker-js/faker";

  export let Hst: Histoire;

  let tabs = Array.from({ length: 4 }, () => ({
    label: faker.lorem.word(),
    content: faker.lorem.paragraphs(),
  }));
</script>

<Hst.Story title="Components/Tabs">
  <Tabs>
    <TabList>
      {#each tabs as tab}
        <Tab>{tab.label}</Tab>
      {/each}
    </TabList>

    {#each tabs as tab}
      <TabPanel>
        <p>{tab.content}</p>
      </TabPanel>
    {/each}
  </Tabs>
</Hst.Story>
