<script lang="ts">
  import type { Hst as Histoire } from "@histoire/plugin-svelte";
  import { Menu, Logo } from "$components";
  import Icon from "@iconify/svelte";
  import { faker } from "@faker-js/faker";

  export let Hst: Histoire;

  let pkg = {
    nav: Array.from({ length: 7 }, () => ({
      title: faker.word.words(),
      url: faker.internet.url(),
    })),
    url: "https://my_domain.ext",
  };
</script>

<Hst.Story title="Components/Menu">
  <Menu {...pkg}>
    <Logo class="h-8" slot="logo" />
    <button slot="search">
      <Icon icon="carbon:search" height="24" />
    </button>
  </Menu>
  {#each Array(32) as _}
    <hr class="py-4" />
  {/each}
</Hst.Story>
