<script lang="ts">
  import type { Hst as Histoire } from "@histoire/plugin-svelte";
  import { Grid } from "$components";
  import { faker } from "@faker-js/faker";

  export let Hst: Histoire;

  let posts = Array.from({ length: 7 }, () => ({
    title: faker.lorem.sentence(),
    url: faker.lorem.slug(),
    excerpt: faker.lorem.paragraph(),
    feature_image: faker.image.urlLoremFlickr({
      width: 320,
      height: 240,
      category: "nature",
    }),
    primary_tag: {
      name: faker.lorem.word(),
      url: faker.lorem.slug(),
    },
    primary_author: {
      name: faker.person.fullName(),
      url: faker.lorem.slug(),
    },
  }));
  let conf = {
    media: "top",
    level: "h6",
    density: "compact",
  };
</script>

<Hst.Story title="Components/Grid">
  <Grid {posts} {conf} />
</Hst.Story>
