<script>
  import { Grid } from "$components";
  export let data;
</script>

<h4 class="font-light uppercase text-center">Autor</h4>
<hr class="my-8 border-t border-neutral-200" />

<div class="flex gap-16 max-w-3xl mx-auto">
  <figure class="w-48">
    <img
      src={data.author.profile_image}
      alt={data.author.name}
      class="w-full aspect-square object-cover rounded-full"
    />
  </figure>

  <div class="flex-1">
    <h1 class="font-display uppercase">{data.author.name}</h1>
    {#if data.author.bio}
      <p class="my-4">{data.author.bio}</p>
    {/if}
  </div>
</div>

<hr class="my-8 border-t border-neutral-200" />
<h4 class="font-light uppercase text-center">Articulos</h4>
<hr class="my-8 border-t border-neutral-200" />

<div class="flex gap-16">
  <div class="flex-1">
    <Grid
      posts={data.posts}
      desktop={{ value: "md:grid-cols-1", number: 1 }}
      conf={{ media: "right", level: "h6", density: "normal" }}
      class="w-1/5"
    />
  </div>
  <div class="md:w-1/4 bg-neutral-100">Banner</div>
</div>
