<script>
  import "../app.css";
  import { page } from "$app/stores";
  import { Footer, Header } from "$components";

  export let data;
  let links = {
    sections: data.navigation,
    pages: data.secondary,
    share: [],
  };
  let hdr = {
    nav: data.navigation,
    url: $page.url.origin,
  };
</script>

<Header {...hdr} />
<main class="container py-12">
  <slot />
</main>
<Footer {links} />
