<script>
  import { Grid, Card } from "$components";
  export let data;
</script>

<div class="flex flex-col md:flex-row gap-8">
  <div class="md:w-1/4">
    <Grid
      posts={data.posts.slice(1, 3)}
      desktop={{ value: "md:grid-cols-1", number: 1 }}
      conf={{ media: "top", level: "h5", density: "compact" }}
    />
  </div>
  <div class="md:w-2/4">
    <Card {...data.posts[0]} media="top" level="h1" density="normal" />
  </div>
  <div class="md:w-1/4 flex flex-col">
    <h6 class="font-bold mb-4 pb-2 border-b border-neutral-200">
      Noticias & cultura
    </h6>
    <Grid
      posts={data.posts.slice(3, 8)}
      desktop={{ value: "md:grid-cols-1", number: 1 }}
      conf={{ media: "right", level: "h6", density: "minimal" }}
      class="w-1/4"
    />
  </div>
</div>

<hr class="my-8 border-t border-neutral-200" />
<h4 class="font-light uppercase text-center">Actualidad</h4>
<hr class="my-8 border-t border-neutral-200" />

<Grid
  posts={data.posts.slice(8, 12)}
  desktop={{ value: "md:grid-cols-4", number: 4 }}
  conf={{ media: "top", level: "h6", density: "minimal" }}
/>

<hr class="my-8 border-t border-neutral-200" />
<h4 class="font-light uppercase text-center">En el mundo</h4>
<hr class="my-8 border-t border-neutral-200" />

<Grid
  posts={data.posts.slice(12, 15)}
  desktop={{ value: "md:grid-cols-3", number: 3 }}
  conf={{ media: "left", level: "h6", density: "minimal" }}
/>
