<script lang="ts">
  import { MenuItem } from "./";
  import Icon from "@iconify/svelte";
  import { mediaQuery } from "svelte-legos";

  export let nav = [];
  export let url = "#";

  let isOpen = false;
  const isMobile = mediaQuery("(max-width: 767px)");

  function toggleMobileMenu() {
    isOpen = !isOpen;
  }

  $: display = !isOpen ? "hidden md:inline-flex" : "inline-flex";
  $: list = $isMobile
    ? "flex-col font-display w-full pt-8 pb-4 gap-y-4 text-large "
    : "flex-row font-sans gap-x-4 text-sm font-medium";
</script>

<nav class="sticky top-0 border-y border-neutral-200 bg-white z-40 shadow">
  <div class="container py-3 text-center">
    <div class="md:hidden flex justify-between">
      <button on:click={toggleMobileMenu}>
        <Icon icon={!isOpen ? "carbon:menu" : "carbon:close"} height="24" />
      </button>
      <a href={url}>
        <slot name="logo" />
      </a>
      <slot name="search" />
    </div>

    <ul class="{display} {list}">
      {#each nav as item, i}
        <MenuItem {...item} />
      {/each}
    </ul>
  </div>
</nav>
