<script lang="ts">
  import type { Hst as Histoire } from "@histoire/plugin-svelte";
  import { Ticket } from "$components";
  import { faker } from "@faker-js/faker";

  export let Hst: Histoire;

  let ticket = {
    title: faker.lorem.sentence(),
    url: faker.lorem.slug(),
    primary_tag: {
      name: faker.lorem.word(),
      url: faker.lorem.slug(),
    },
    primary_author: {
      profile_image: faker.internet.avatar(),
      name: faker.person.fullName(),
      url: faker.lorem.slug(),
    },
  };
</script>

<Hst.Story title="Components/Ticket">
  <Ticket {...ticket} />
</Hst.Story>
