<script>
  export let data;

  // $: console.log(data);
</script>

<h1 class="font-display uppercase text-center">{data.page.title}</h1>
<hr class="my-8 border-t border-neutral-200" />
<div class="flex flex-col gap-3 mt-8">
  {@html data.page.html}
</div>
