<script lang="ts">
  import { getContext, onMount, onDestroy, tick } from "svelte";
  import { Card } from "$components";

  export let post;
  export let conf;
  let child;
  let index;
  let isMobile = false;

  const { desktop, mobile, look } = getContext("context");

  $: parent = child?.parentNode;
  $: length = parent?.children.length;

  const checkMobile = () => {
    isMobile = window.innerWidth < 768;
  };

  onMount(async () => {
    await tick();
    const childNodes = Array.from(parent?.children);
    index = childNodes.indexOf(child);

    window.addEventListener("resize", checkMobile);
    checkMobile();
  });

  // onDestroy(() => {
  //   window.removeEventListener("resize", checkMobile);
  // });

  /** Desktop */
  $: divIntD = ~~(length / desktop.number);
  $: divModD = length % desktop.number;
  $: mdRows = divModD > 0 ? divIntD + 1 : divIntD;
  $: mdRow = ~~(index / desktop.number) + 1;
  $: mdCol = index - ~~(index / desktop.number) * desktop.number;

  /** Mobile */
  $: divIntM = ~~(length / mobile.number);
  $: divModM = length % mobile.number;
  $: rows = divModM > 0 ? divIntM + 1 : divIntM;
  $: row = ~~(index / mobile.number) + 1;
  $: col = index - ~~(index / mobile.number) * mobile.number;

  $: dividers = `relative
  after:absolute after:h-full after:top-0 after:right-0 after:-mr-4
  ${
    (mdCol < desktop.number - 1 && !isMobile) ||
    (col < mobile.number - 1 && isMobile)
      ? "after:border-r after:border-solid after:border-neutral-200"
      : ""
  }
  before:absolute before:w-full before:bottom-0 before:left-0 before:-mb-4
  ${
    (mdRow < mdRows && !isMobile) || (row < rows && isMobile)
      ? "before:border-b before:border-solid before:border-neutral-200"
      : ""
  }
  `;
</script>

<li bind:this={child} class={dividers}>
  <Card {...post} {...conf} class={look} />
</li>
