<script lang="ts">
  import { GridItem } from "./";
  import { setContext } from "svelte";

  export let posts;
  export let conf;
  export let desktop = { value: "md:grid-cols-3", number: 3 };
  export let mobile = { value: "grid-cols-1", number: 1 };
  export let gap = { value: "gap-8", number: 32 };
  let parent;

  setContext("context", { desktop, mobile, look: $$props.class });
</script>

<ul bind:this={parent} class="grid {mobile.value} {desktop.value} {gap.value}">
  {#each posts as post, i}
    <GridItem {post} {conf} />
  {/each}
</ul>
