<script>
  import { getContext } from "svelte";
  import { TABS } from "./Tabs.svelte";

  const tab = {};
  const { registerTab, selectTab, selectedTab } = getContext(TABS);

  registerTab(tab);
</script>

<button
  class="{$selectedTab === tab
    ? 'border-b-2 border-red-500'
    : ''} py-2 px-4 border-0 uppercase"
  on:click={() => selectTab(tab)}
>
  <slot />
</button>
