<script lang="ts">
  export let title;
  export let url;
  export let primary_tag;
  export let primary_author;
  export let level = "h4";
</script>

<div class="flex gap-4">
  <img
    src={primary_author.profile_image}
    alt={primary_author.name}
    class="w-24 h-24 rounded-full"
  />
  <div>
    <a href={primary_tag?.url} class="text-red-500 hover:underline">
      <span class="font-display uppercase text-xs">{primary_tag?.name}</span>
    </a>
    <a href={url} class="hover:underline">
      <svelte:element this={level} class="font-display uppercase mt-3">
        {title}
      </svelte:element>
    </a>
    <div class="flex flex-col justify-center">
      <span class="font-bold text-sm">
        Por
        <a href={primary_author.url} class="hover:underline">
          {primary_author.name}
        </a>
      </span>
    </div>
  </div>
</div>
