<script>
  import { Comments } from "$components";
  export let data;
</script>

{#if data.post}
  <div class="flex flex-col md:flex-row gap-16 md:gap-32">
    <article class="md:w-2/3">
      <a href={data.post.primary_tag?.url} class="text-red-500 hover:underline">
        <span class="font-display uppercase text-xs"
          >{data.post.primary_tag?.name}</span
        >
      </a>
      <h1 class="mt-4 font-display uppercase">{data.post.title}</h1>
      <p class="mt-4 italic">{data.post.excerpt}</p>

      <hr class="my-6 border-t border-neutral-200" />
      <span class="font-medium text-xs"
        >{data.post.published_at.substring(0, 10)}</span
      >
      <hr class="my-6 border-t border-neutral-200" />

      <div class="ml-0 md:ml-24">
        <div class="flex flex-col gap-3 mt-8">
          {@html data.post.html}
        </div>
      </div>
    </article>
    <aside class="md:w-1/3 bg-neutral-100">Sidebar</aside>
  </div>

  <Comments />
{/if}
