<script lang="ts">
  import type { Hst as Histoire } from "@histoire/plugin-svelte";
  import { Card } from "$components";
  import { faker } from "@faker-js/faker";

  export let Hst: Histoire;

  let card = {
    title: faker.lorem.sentence(),
    url: faker.lorem.slug(),
    excerpt: faker.lorem.paragraph(),
    feature_image: faker.image.urlLoremFlickr(),
    primary_tag: {
      name: faker.lorem.word(),
      url: faker.lorem.slug(),
    },
    primary_author: {
      name: faker.person.fullName(),
      url: faker.lorem.slug(),
    },
  };

  let media = "left";
  let mediaOptions = [
    { value: "left", label: "Left" },
    { value: "right", label: "Right" },
    { value: "top", label: "Top" },
    { value: "bottom", label: "Bottom" },
  ];
  let level = "h1";
  let levelOptions = [
    { value: "h1", label: "H1" },
    { value: "h2", label: "H2" },
    { value: "h3", label: "H3" },
    { value: "h4", label: "H4" },
    { value: "h5", label: "H5" },
    { value: "h6", label: "H6" },
  ];
  let density = "h1";
  let densityOptions = [
    { value: "normal", label: "Normal" },
    { value: "compact", label: "Compact" },
    { value: "minimal", label: "Minimal" },
  ];
</script>

<Hst.Story title="Components/Card">
  <Hst.Variant title="Default">
    <div class="max-w-3xl">
      <Card {...card} {media} {level} {density} />
    </div>
  </Hst.Variant>
  <Hst.Variant title="Custom">
    <div class="max-w-3xl">
      <Card {...card} {media} {level} {density} class="w-1/3" />
    </div>
  </Hst.Variant>

  <svelte:fragment slot="controls">
    <Hst.Radio
      bind:value={density}
      bind:options={densityOptions}
      title="Density"
    />
    <Hst.Radio bind:value={media} bind:options={mediaOptions} title="Image" />
    <Hst.Select
      bind:value={level}
      bind:options={levelOptions}
      title="Heading"
    />
  </svelte:fragment>
</Hst.Story>
