<script lang="ts">
  import type { Hst as Histoire } from "@histoire/plugin-svelte";
  import { Footer } from "$components";
  import { faker } from "@faker-js/faker";

  export let Hst: Histoire;

  let links = {
    sections: Array.from({ length: 7 }, () => ({
      title: faker.word.words(),
      url: faker.internet.url(),
    })),
    pages: Array.from({ length: 5 }, () => ({
      title: faker.word.words(),
      url: faker.internet.url(),
    })),
  };
</script>

<Hst.Story title="Components/Footer">
  <Footer {links} />
</Hst.Story>
