<script lang="ts">
  import Icon from "@iconify/svelte";
  export let share = [];
</script>

<ul class="inline-flex gap-x-4">
  {#each share as item}
    <li>
      <a href={item.url}
        ><Icon icon={item.name} {...$$props} class={item.color} /></a
      >
    </li>
  {/each}
</ul>
