<script lang="ts">
  export let title;
  export let url;
  export let excerpt;
  export let feature_image;
  export let primary_tag;
  export let primary_author;
  export let media = "left";
  export let level = "h1";
  export let density = "normal";

  $: direction =
    media === "left"
      ? "flex-row"
      : media === "right"
      ? "flex-row-reverse"
      : media === "top"
      ? "flex-col"
      : "flex-col-reverse";
  $: gap =
    media === "left"
      ? "ml-4"
      : media === "right"
      ? "mr-4"
      : media === "top"
      ? "mt-4"
      : "mb-4";
  $: picture =
    (media === "left" || media === "right") && $$props.class
      ? $$props.class
      : "flex-1";
</script>

<div class="flex {direction}">
  <figure class={picture}>
    <a href={url}>
      <img
        src={feature_image}
        alt={title}
        class="w-full aspect-4/3 object-cover"
      />
    </a>
  </figure>

  <div class="flex-1 {gap}">
    {#if primary_tag.name}
      <a href={primary_tag.url} class="text-red-500 hover:underline">
        <span class="font-display uppercase text-xs">{primary_tag.name}</span>
      </a>
    {/if}
    <a href={url} class="hover:underline">
      <svelte:element this={level} class="font-display uppercase mt-3">
        {title}
      </svelte:element>
    </a>
    {#if density === "normal"}
      <p class="my-3">{excerpt}</p>
    {/if}
    {#if density !== "minimal"}
      <span class="font-bold text-sm">
        Por
        <a href={primary_author.url} class="hover:underline">
          {primary_author.name}
        </a>
      </span>
    {/if}
  </div>
</div>
