<script lang="ts">
  import type { Hst as Histoire } from "@histoire/plugin-svelte";
  import { Social } from "$components";

  export let Hst: Histoire;
  let share = [
    { name: "carbon:logo-facebook", url: "", color: "text-blue-800" },
    { name: "carbon:logo-twitter", url: "", color: "text-cyan-500" },
    { name: "carbon:logo-youtube", url: "", color: "text-red-500" },
    { name: "carbon:logo-instagram", url: "", color: "text-rose-500" },
  ];
</script>

<Hst.Story title="Components/Social">
  <Social {share} height={32} />
</Hst.Story>
