<script lang="ts">
  import type { Hst as Histoire } from "@histoire/plugin-svelte";
  import Icon from "@iconify/svelte";

  export let Hst: Histoire;
</script>

<Hst.Story title="Components/Icon">
  <Icon icon="carbon:logo-facebook" height="32" class="text-blue-800" />
  <Icon icon="carbon:logo-twitter" height="32" class="text-cyan-500" />
  <Icon icon="carbon:logo-youtube" height="32" class="text-red-500" />
  <Icon icon="carbon:logo-instagram" height="32" class="text-rose-500" />
</Hst.Story>
