<script lang="ts">
  import type { Hst as Histoire } from "@histoire/plugin-svelte";
  import { Logo } from "$components";

  export let Hst: Histoire;

  let positive = true;
</script>

<Hst.Story title="Components/Logo">
  <div class="p-8" class:bg-red-500={!positive}>
    <Logo {positive} />
  </div>

  <svelte:fragment slot="controls">
    <Hst.Checkbox bind:value={positive} title="Positivo" />
  </svelte:fragment>
</Hst.Story>
