<script>
  import { Ticket } from "$components";

  export let data;
</script>

<hr class="my-8 border-t border-neutral-200" />
<h4 class="font-light uppercase text-center">Opinión</h4>
<hr class="my-8 border-t border-neutral-200" />

<h6>Editorial de Hoy</h6>
<Ticket
  title={data.editorial.title}
  url={data.editorial.url}
  primary_author={data.editorial.primary_author}
  primary_tag={data.editorial.primary_tag}
/>
<hr class="my-8 border-t border-neutral-200" />

<ul class="flex flex-col gap-8">
  {#each data.opinion as pnn}
    {@const { title, url, primary_author, primary_tag } = pnn}
    <li><Ticket {title} {url} {primary_author} {primary_tag} /></li>
  {/each}
</ul>
