<script>
  export let data;
</script>

<h4 class="font-light uppercase text-center">Autores</h4>
<hr class="my-8 border-t border-neutral-200" />
{#each data.authors as author}
  <div class="flex gap-16 max-w-3xl mx-auto">
    <figure class="w-48">
      <img
        src={author.profile_image}
        alt={author.name}
        class="w-full aspect-square object-cover rounded-full"
      />
    </figure>

    <div class="flex-1">
      <h1 class="font-display uppercase">{author.name}</h1>
      {#if author.bio}
        <p class="my-4">{author.bio}</p>
      {/if}
      <a href={author.url} class="font-serif underline underline-offset-2"
        >Ver articulos</a
      >
    </div>
  </div>
{/each}
