<script lang="ts">
  import Icon from "@iconify/svelte";
  import { Menu, Logo } from "$components";

  export let url = "#";
  export let nav = [];
</script>

<header class="container hidden md:flex items-center gap-4 my-4">
  <div class="flex-1">
    <slot name="login" />
  </div>
  <div class="flex-1">
    <a href={url}>
      <Logo class="h-12 my-2 mx-auto" slot="logo" />
    </a>
  </div>
  <div class="flex-1 text-right">
    <button>
      <Icon icon="carbon:search" height="24" />
    </button>
  </div>
</header>

<Menu {url} {nav}>
  <Logo class="h-8" slot="logo" />
  <button slot="search">
    <Icon icon="carbon:search" height="24" />
  </button>
</Menu>
