<script>
  import { Grid, Comments, Tabs, TabList, TabPanel, Tab } from "$components";
  export let data;
</script>

{#if data.post}
  <div class="flex flex-col md:flex-row gap-16 md:gap-32">
    <article class="md:w-2/3">
      <a href={data.post.primary_tag?.url} class="text-red-500 hover:underline">
        <span class="font-display uppercase text-xs"
          >{data.post.primary_tag?.name}</span
        >
      </a>
      <h1 class="mt-4 font-display uppercase">{data.post.title}</h1>
      <p class="mt-4 italic">{data.post.excerpt}</p>

      <figure class="mt-8 flex gap-8">
        <img
          src={data.post.primary_author.profile_image}
          alt={data.post.primary_author.name}
          class="w-12 h-12 rounded-full"
        />
        <figcaption class="flex flex-col justify-center">
          <span class="font-bold text-sm">
            Por
            <a href={data.post.primary_author.url} class="hover:underline">
              {data.post.primary_author.name}
            </a>
          </span>
          <span class="font-medium text-xs"
            >{data.post.published_at.substring(0, 10)}</span
          >
        </figcaption>
      </figure>

      <hr class="my-6 border-t border-neutral-200" />

      <div class="ml-0 md:ml-24">
        {#if data.post.feature_image}
          <figure>
            <img
              src={data.post.feature_image}
              alt={data.post.title}
              class="mb-1"
            />
            <figcaption class="font-serif text-sm italic">
              {data.post.feature_image_caption}
            </figcaption>
          </figure>
        {/if}
        <div class="flex flex-col gap-3 mt-8">
          {@html data.post.html}
        </div>
      </div>
    </article>
    <aside class="md:w-1/3 flex flex-col">
      <h6 class="font-bold mb-4 pb-2 border-b border-neutral-200">
        Comentarios
      </h6>

      <Tabs>
        <TabList>
          <Tab>Ultimos</Tab>
          <Tab>Popular</Tab>
        </TabList>
        <TabPanel>
          <Grid
            posts={data.lastCommented}
            desktop={{ value: "md:grid-cols-1", number: 1 }}
            conf={{ media: "right", level: "h6", density: "minimal" }}
            class="w-1/4"
          />
        </TabPanel>
        <TabPanel>
          <p>Lorem ipsum</p>
        </TabPanel>
      </Tabs>
    </aside>
  </div>

  <Comments />
{/if}
