<script lang="ts">
  import { Social, Logo } from "$components";
  export let links = { sections: [], pages: [], share: [] };
</script>

<footer class="bg-neutral-900">
  <div class="container py-12">
    <Logo positive={false} class="h-6 mx-auto" />

    <hr class="my-8 border-t border-neutral-700" />
    <p class="mb-3 text-neutral-200 font-display uppercase text-sm">
      Secciones
    </p>
    <ul class="flex flex-wrap text-sm font-bold text-neutral-400">
      {#each links.sections as section}
        <li class="w-1/2 md:w-1/5">
          <a href={section.url} class="hover:underline">{section.title}</a>
        </li>
      {/each}
    </ul>

    <hr class="my-8 border-t border-neutral-700" />
    <ul class="flex flex-wrap text-sm font-bold text-neutral-400">
      {#each links.pages as page}
        <li class="w-1/2 md:w-1/5">
          <a href={page.url} class="hover:underline">{page.title}</a>
        </li>
      {/each}
    </ul>

    <hr class="my-8 border-t border-neutral-700" />
    <div class="flex flex-col md:flex-row gap-y-4 gap-x-8">
      <div class="flex-1 text-sm text-neutral-400">
        © 2023 El Nacional. Todos los derechos reservados.
      </div>
      <div class="flex-1 md:text-right order-first md:order-last">
        <Social
          share={links.share}
          size={20}
          stroke={1.5}
          class="text-neutral-500"
        />
      </div>
    </div>
  </div>
</footer>
