<script>
  import { onMount } from "svelte";

  /**
   *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
   *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
  /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */

  onMount(() => {
    (function () {
      // DON'T EDIT BELOW THIS LINE
      var d = document,
        s = d.createElement("script");
      s.src = "https://elnacionalbo.disqus.com/embed.js";
      s.setAttribute("data-timestamp", +new Date());
      (d.head || d.body).appendChild(s);
    })();

    const script = document.createElement("script");
    script.src = "//elnacionalbo.disqus.com/count.js";
    script.id = "dsq-count-sc";
    script.async = true;
    document.body.appendChild(script);
  });
</script>

<div id="disqus_thread" />
<noscript
  >Active JavaScript para ver los <a href="https://disqus.com/?ref_noscript"
    >comentarios de Disqus.</a
  ></noscript
>
