<script>
  export let data;
</script>

<hr class="my-8 border-t border-neutral-200" />
<h4 class="font-light uppercase text-center">Etiquetas Populares</h4>
<hr class="my-8 border-t border-neutral-200" />

<ul class="flex flex-wrap gap-4">
  {#each data.tags as tag}
    <li class="hover:underline">
      <a href={tag.url}
        >{tag.name}
        <span class="text-xs bg-red-500 text-white py-px px-1 rounded-full"
          >{tag.count.posts}</span
        ></a
      >
    </li>
  {/each}
</ul>
