<script>
  import { Grid } from "$components";
  export let data;
</script>

<hr class="my-8 border-t border-neutral-200" />
<h1 class="text-center">{data.tag.name}</h1>
<hr class="my-8 border-t border-neutral-200" />

<Grid
  posts={data.posts}
  desktop={{ value: "md:grid-cols-3", number: 3 }}
  conf={{ media: "top", level: "h5", density: "compact" }}
/>
