<script lang="ts">
  import type { Hst as Histoire } from "@histoire/plugin-svelte";
  import { Header } from "$components";
  import { faker } from "@faker-js/faker";

  export let Hst: Histoire;

  let pkg = {
    nav: Array.from({ length: 7 }, () => ({
      title: faker.word.words(),
      url: faker.internet.url(),
    })),
    url: "https://my_domain.ext",
  };
</script>

<Hst.Story title="Components/Header">
  <Header {...pkg} />
</Hst.Story>
