<script>
  import { Grid, Card } from "$components";
  export let data;
</script>

<hr class="my-8 border-t border-neutral-200" />
<h1 class="text-center">{data.tag.name.replace("#", "")}</h1>
<hr class="my-8 border-t border-neutral-200" />

<Card {...data.posts[0]} media="left" level="h1" density="normal" />
<hr class="my-8 border-t border-neutral-200" />

{#if data.posts.length > 3}
  <Grid
    posts={data.posts.slice(1, 4)}
    desktop={{ value: "md:grid-cols-3", number: 3 }}
    conf={{ media: "top", level: "h5", density: "compact" }}
  />
{/if}
